$colorpink : #FF4C60;
$colordark : #353353;
$coloryellow : #FFD15C;
$colorblue : #6C6CE5;
$simple-line-font-path     : "../fonts/simple-line-icons/";
$fa-font-path: "../fonts/webfonts";


$font-family-sans-serif: "Rubik", sans-serif;
$headings-font-weight : 700;
$headings-font-family: "Rubik", sans-serif;
$headings-margin-bottom: 20px;
$fonthead: "Rubik", sans-serif;
$body-bg: #f9f9f9;
$headings-color: #454360;
$body-color: #5E5C7F;


$use-fadeIn: true;
$use-fadeOut: true;